<!-- Modal -->
<div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="modalFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalFormLabel">New list</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for list do |f| %>
          <%= f.input :name %>
          <%#= f.input :url_img %>
          <%= f.input :photo, as: :file %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
